* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-bar {
    width: 100%;
    height: 10vh;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}
.logo {
    font-size: 30px;
}

ul {
    display: flex;
    gap: 60px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    font-family: sans-serif;
}













.container {
    display: flex;
    
    width: 100%;
    height: 80vh;
}
.right-side {
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: end;
    
    z-index: -2;

}
.right-side img {
    width: 300px;
    height: 300px;
    border-radius: 40% 70% 57% 59% / 35% 41% 59% 84%;
    margin-right: 90px;

}
.right-side .circle {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 40% 70% 57% 59% / 35% 41% 59% 84%;
    
    background: linear-gradient(172deg, rgba(252, 118, 0, 1) 0%, rgba(255, 38, 0, 1) 100%);
    margin-right: 50px;
    z-index: -1;
}
.left-side {
    
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}
.left-side h1 {
    font-size: 50px;
    
    color: #000;
    text-transform: uppercase;
    font-family: system-ui;
    line-height: 30px;
}
.left-side h1 span {
    font-weight: bold;
    font-size: 35px;
    color: orangered;
}
.left-side p {
    margin-top: 10px;
    color: gray;

}

.btn-section {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn-1 {
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    background-color: rgb(255, 115, 0);


    font-family: 'Open Sans', sans-serif;

}

.btn-1:hover,
.btn-1:active {
    transform: scale(1.05);
    background-color: orangered;
    transition: all 0.2s ease;
}

.btn-2 {
    width: 129px;
    height: 46px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(185, 179, 179, 0.842);

    font-family: 'Open Sans', sans-serif;
}

.btn-2:active,
.btn-2:hover {
    transform: scale(1.05);
    background-color: rgb(85, 85, 85);
    transition: all 0.2s ease;

}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 40px;
    margin-left: 50px;

}

.linkedin:hover {
    font-size: 40px;
    color: #0077B5;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.github:hover {
    font-size: 40px;
    color: #0D1117;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.telegram:hover {
    font-size: 40px;
    color: #0088CC;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.phone:hover {
    font-size: 40px;
    color: #008000;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.instagram:hover {
    font-size: 40px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.copyRight {
    color: darkgray;
}
















@media (max-width: 900px) {
    .container{
        flex-direction: column;
        
    }
    .left-side {
        width: 100%;
        justify-content: center;
    }
    .right-side {
        width: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }
    .footer {
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
    }
    
}

@media (max-width: 550px) {
    .nav-bar nav {
        display: none;
    }
    
}